<div class="container">
  <div class="row mt-5">
    <form (ngSubmit)="submit()" #f="ngForm">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
          ngModel
          name="mail"
          required
          email
          #email="ngModel"
        />
        <span *ngIf="!email.valid && email.touched">Please enter email</span>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Subscriptions</label
        >
        <select
          class="form-select"
          aria-label="Default select example"
          ngModel
          name="subscription"
          required
          #subscription="ngModel"
        >
          <option
            *ngFor="let subscription of subscriptions"
            [value]="subscription"
          >
            {{ subscription }}
          </option>
        </select>
        <span *ngIf="!subscription.valid && subscription.touched"
          >Please select subscription</span
        >
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          ngModel
          name="password"
          #password="ngModel"
        />
        <span *ngIf="!password.valid && password.touched"
          >Please enter password</span
        >
      </div>

      <button (click)="(f.submit)" class="btn btn-success">submit</button>
    </form>
  </div>
  <div *ngIf="submitted">
    <p>Mail : {{ userData.mail }}</p>
    <p>subscription : {{ userData.subscription }}</p>
  </div>
</div>
